body {
font-family: 'Merriweather', serif;
color: #333333;
background-color: #DDDDDD;
background-image: url('img/tile.png');
background-repeat: repeat;}

#backing {
min-width: 400px;
border-radius: 20px;
background-color:#FFFFFF;
margin: 30px;
padding-left: 15px;
padding-right: 15px;
padding-top: 30px;
display: block;
box-shadow: 0px 0px 6px 0px rgba(119, 119, 119, 0.6);
-moz-box-shadow: 0px 0px 6px 0px rgba(119, 119, 119, 0.6);
-webkit-box-shadow: 0px 0px 6px 0px rgba(119, 119, 119, 0.6);}

h1 {font-size: 38px; width:360px; margin:0 auto;}

#title {width: 184px; margin:0 auto;}

#nav {width: 250px; margin:0 auto; padding-top: 10px;}

.content {
padding-top: 10px;
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 300px;
-moz-column-width: 300px;
column-width: 300px;
}

img {
	max-width: 100%;
	}

.footer {padding-top: 20px; padding-bottom: 20px; font-size: 12px; text-align: center;}