@font-face {
  font-family: 'ITCGaramond';
  src:  url('./itcgaramond.woff2') format('woff2'),
        url('./itcgaramond.woff') format('woff');
}

@font-face {
  font-family: 'ArialBlack';
  src:  url('./arialblack.woff2') format('woff2'),
        url('./arialblack.woff') format('woff');
}

body {
	font-family: "ITCGaramond", "Palatino Linotype", "Palatino", serif;
	font-size: 2.2em;
	line-height: 115%;
	color: #DDD;
	background: #111;
}

h2 {
	font-family: "ArialBlack", "MS Sans Serif", "Geneva", sans-serif;
	font-size: 135%;
	letter-spacing: -0.002em;
	line-height: 113%;
}

p {padding-bottom: 30px;}

a{color: #DDD; text-decoration: none;}
a:hover {color: #F83;}

img {
	width: 100%;
	height: 100%;
}

.wrapper {
	margin: auto;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	max-width: 900px;
}

.flex {display: flex;}

.half {
	width: 50%;
	float: left;
}

.vidWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.vidWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.rotateSmile {
	text-align: center;
	align-self: center;
	-webkit-transform: rotate(-70deg);
	-moz-transform: rotate(-70deg);
	-ms-transform: rotate(-70deg);
	-o-transform: rotate(-70deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.words {
	font-size: 115%;
	background: -webkit-linear-gradient(#CCC, #F83);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
}

.foot {
	margin: 0px;
	text-align: center;
}

@media (max-width: 1000px) {
	body {
		font-size: 1.5em;
	}
	h2 {
		font-size: 110%;
	}
	.wrapper {
		margin: 5%;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}