body {
    background-color: #eee;
    font-family: "Lato", Verdana, Arial, sans-serif;
    font-size: 150%;
    color: #271D24;
    -webkit-font-smoothing: antialiased;
    line-height: 145%;
}

b {
    font-weight: 300;
    color: #3cc7a4;
}

.header {
    width: 100%;
    background-color: #555;
}

.box {
    margin: auto;
    padding: 40px 0px 01px;
    width: 80%;
    max-width: 800px;
    min-width: 300px;
}

#big {
    font-size: 1.6em;
    color: #eee;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.02em;
}