body {
    background-color: #eeeeee;
    font-family: "Lato", Verdana, Arial, sans-serif;
    font-size: 150%;
    color: #271D24;
    -webkit-font-smoothing: antialiased;
}

.img {
    float: left;
}

b {
    font-weight: 300;
    color: #2ceab7;
}

#box {
    margin: 0 auto;
    padding-top: 40px;
    width: 80%;
}

#title {
    font-size: 1.6em;
    float: right;
    color: #3E5D5D;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}